{
  "env": {
    "development": {
      "presets": [
        "react-native"
      ],
      "plugins": [
        [
          "import",
          {
            "libraryName": "@popui/popui-rn",
            "libraryDirectory": "components"
          }
        ]
      ]
    },
    "production": {
      "presets": [
        "react-native"
      ],
      "plugins": [
        [
          "import",
          {
            "libraryName": "@popui/popui-rn",
            "libraryDirectory": "components"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "react-native"
      ],
      "plugins": [
        [
          "import",
          {
            "libraryName": "@popui/popui-rn",
            "libraryDirectory": "components"
          }
        ]
      ]
    }
  }
}
